* {
  margin: 0;
  padding: 0;
}

header {
  background: #fff;
  box-shadow: 0px 2px 10px 0px #00000040;
}

main {
  padding: 30px;
}

.title {
  display: inline;
  font-family: 'Ropa Sans';
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: #777777;
}

#title-description {
  font-family: 'Ropa Sans';
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  color: #AAAAAA;
}

.banner {
  background: url("../images/Rectangle1.svg");
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
}

.hamburguer-menu {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.navbar {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  display: none;
}

.advertisement {  
  display: flex;
  flex-direction: column;
  width: 256px;
  background: #EEEEEE;
}

.advertisement strong {
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;
  color: #888888;
}

.advertisement span {
  background: #51D275;
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 3px;
}

.advertisement div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@media(min-width: 481px) {
  .hamburguer-menu {
    display: none;
  }
  .navbar {
    display: block;
  }
}
